
.container1 {
    height: 220px;
    position: relative;
}

#foto-perfil{
    border-radius: 15;
    float: left;
    padding: 10px;
    background-color: lightcoral;
    border: 1px solid royalblue;
    position: absolute;
    z-index: 2;
}

p{
    position: absolute;
    z-index: 1;
    float: right;
    top: 20%;
    right: 10%;
}

body h1 {
    text-align: center;
    background-color: #f3fcf8;
    padding: 20px 30px;
}

h1,p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-family: cursive, sans-serif;
}    

body {
    background-color: rgb(201, 206, 207);    
    max-width: 90%;    
    align-items:center;
    text-align: justify;
    padding: 5px;
}

li {
    font-style: italic;
}

.l1 {
    font-size: 16px;
    color: rgb(126, 81, 81);
}

.l2 {
    font-size: 22px;
    color: royalblue;
}

.l3 {font-size: 25px;
    color: rgb(150, 82, 22);

}

.l4 {
    font-size: 28px;
    color: rgb(187, 6, 6);
}

.l5 {
    font-size: 30px;
    color: olive;
}

.container2 {
        color: #292323;
        background-color: #f3fcf8;
        padding: 20px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        float:initial;
        text-align: justify;
}



a {
    text-decoration: none;
}

.destaque {
    font-size: 15px;
    font-style: oblique;
    color: gold;
}

.container3 {
    background-color: rgb(13, 5, 19);
    height: 100px;
    width: 400px;
    overflow: auto;
    
}

ul li:nth-child(odd){
    background-color: white;
}