h1,p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-family: cursive, sans-serif;
}    

body {
    background-color: rgb(207, 239, 243);}

li {
    font-style: italic;
}

.l1 {
    font-size: 16px;
    color: rosybrown;
}

.l2 {
    font-size: 22px;
    color: royalblue;
}

.l3 {font-size: 25px;
    color: sandybrown;

}

.l4 {
    font-size: 28px;
    color: silver;
}

.l5 {
    font-size: 30px;
    color: olive;
}

.caixinha {
        color: #eedcdc;
        background-color: #536860;
        padding: 20px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        float:initial
}

.imagem-perfil{
    border-radius: 15;
    float: left;
}

a {
    text-decoration: none;
}