* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.displayNone {
    display: none;
}

.loading {
    display: flex;
}

.ximira {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pokedex {
    display: flex;
    background-size: 100% 100%;
    background-image: url(../utils/imgs/pokedex.webp);
    position: relative;
    width: 1200px;
    height: 780px;
}

.pokeStage {
    display: flex;
    width: 100%;
    justify-content: center;
}

.xibil {
    position: absolute;
    display: flex;
    justify-content: space-between;
}